body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.total-price {
  font-weight: bold;
  text-align: right;
}

input[type="submit"] {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #506067;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  float: right;

}